#breadcrumb-nav {
    font-size: 14px;
    position: relative;
    margin-top: 140px;
    margin-bottom: 10px;
}       

.breadcrumb-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb-details{
    float: left;
    width: 100%;
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}


#container-box{
    margin-top: 0;
}
/*  */
.cart-content{
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% auto;
    grid-gap: 30px;
}

/* Thông tin người mua */
.info-customer{
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px #0000001f;
        
}

.info-customer >h2{
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 17px;
}

.contact-form{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    width: 100%;
}

.form-group{
    margin-bottom: 16px;
}
.form-fill{
    font-size: 15px;
    padding: 10px;
    float: left;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.18) 0 8px 5px;
    border: 2px solid rgba(0, 0, 0, 0.14);
 }

.contact-form i {
    color: #eb0029;
}

.form-fill-2{
    font-size: 15px;
    padding: 10px;
    float: left;
    width: 100%;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 0.14);
}

/* Thông tin giỏ hàng */
.info-cart{
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 10px;
    width: 100%;
}

.info-cart h2{
    text-transform: uppercase;
    padding: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    width: 100%;
    background: linear-gradient(to bottom, #F43F2D, #FE6432);
}

.product-content{
    padding: 10px;
}

.product-content .item-content{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    padding-bottom: 10px;
    display: grid;
    gap: 10px;
}

.item-content .item-details{
    margin-top: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 20% auto 5%;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    font-size: 14px;
}

.item-details-title{
    font-size: 13px;
}

.item-details-price{
    padding-right: 5px;
    color: #F43F2D;
}

.item-details-number{
    width: 45px;
    padding: 5px;
    border: 1px solid;
}

.item-payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.item-payment >div{
    font-weight: 600;
    font-size: 16px;
}

.item-total-pay{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 30px;
}

.total {
    font-weight: 600;
    font-size: 16px;
}

.price{
    font-weight: 600;
    color: #F43F2D;
    font-size: 16px;
    padding-right: 5px; 
}

.fa-trash-can:hover{
    cursor: pointer;
}

.btn-click{
    width: 100%;
    display: grid;
    gap: 15px;
    margin-top: 25px;
}

.btn-click button{
    padding: 12px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-payment{
    background: #128125;
    color: #fff;
}

/* responsive */

/* tablet and mobile */
@media only screen and (max-width: 63.8375em){
    #container-box, #breadcrumb-nav{
        padding: 0 10px;
    }
    
    .cart-content{
        display: block;
    }  
}

/* tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .info-cart{
        margin-top: 20px;
    }
} 

/* moblie */
@media only screen and (max-width: 46.1875em){
    #breadcrumb-nav{
        display: none;
    }

    #container-box{
        margin-top: 140px;
    }

}