.product-content{
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 30px;
    background: white;
    padding: 15px;
}

.product-img img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.product-interact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px 0;
}

.product-like-btn{
    border-left: 1px solid rgba(0, 0, 0, .09);
    padding-left: 30px;
}

.title-product{
    margin-bottom: 15px;
    font-size: 20px;
}

/* rate */

.rate{
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    gap: 5px;
}

.fa-star{
    color: #f8492f;
}

.result-rating span, .result-rating i {
    font-weight: 700;
    font-style: inherit;
    color: #f8492f;
}

.product-price, .content-title{
    justify-content: flex-start;
    grid-gap: 10px;
    padding: 10px;
    background: whitesmoke;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-price-num{
    color: #f8492f;
    font-weight: 500;
}

#container-box p{
    margin-bottom: 15px;
}

.product-box-addtocart{
    display: grid;
    width: 100%;
    grid-gap: 30px;
}

.product-gr-quantity{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.change{
width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    outline: none;
}

.number-of-product{
    height: 40px;
    width: 55px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-left: none;
    border-right: none; 
}

.product-btn-add{
    display: flex;
}

.btn-shopping{
    background: rgba(208, 1, 27, .08);
    color: #d0011b;
    border: 1px solid #d0011b !important;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 5px;
    padding: 20px;
    cursor: pointer;
}

.shop-now{
    background: linear-gradient(to bottom, #F43F2D, #FE6432);
    height: 44px;
    padding: 20px;
    color: #FFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

/* chi tiết sản phẩm */
.details-product{
    width: 100%;
    margin-bottom: 30px;
}

.details-product-content{
    display: grid;
    justify-content: center;
    grid-template-columns: 79% 20%;
    gap: 10px;
    background: none;
    padding: 0;
    background: none;
    padding: 10px 0;
}

.left-bar-content{
    background: #fff;
    padding: 15px;
}

.rating-star{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    background: #fffbf8;
    padding: 15px;
    border: 1px solid #f9ede5;
    margin-bottom: 20px;
}

.list-star-gr{
    display: grid;
}

.list-star i, .result-rating{
    color: #FE6432;
    font-size: 20px;
}

.right-bar-content{
    background: #fff;
    padding: 15px;
}

.list-rating-detail{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 0;
}

.list-rating-detail li{
    border: 1px solid rgba(0, 0, 0, .09);
    background: #fff;
    font-size: 14px;
    padding: 5px 10px;
}

.product-add-to-cart button:hover{
    background: #d0011b;
    color: #fff;
}

.rating-star-show{
    display: none;
    background: #fffbf8;
    padding: 15px;
    border: 1px solid #f9ede5;
    text-align: center;
}

.rating-star-show i{
    font-size: 20px;
}

/* responsive */

/* tablet and mobile */
@media only screen and (max-width: 63.8375em){
    #container-box, #breadcrumb-nav{
        padding: 0 10px;
    }

    .details-product-content{
        display: block;
    }

    .rating-star{
        display: none;
    }

    .rating-star-show{
        display: block;
    }
}

/* tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){

} 

/* moblie */
@media only screen and (max-width: 46.1875em){
    #breadcrumb-nav{
        display: none;
    }

    #container-box{
        margin-top: 140px;
    }

    .product-content{
        display: block;
    }

    .result-rating{
        font-size: 11px;
    }

    .list-star i{
        font-size: 10px;
    }

}